<div class="footer-gradient"></div>

<footer class="footer">
    <div class="footer-top">
        <div class="container  footer-top__divider">
            <div class="row">
                <div class="col-xs-12  col-md-4">
                    <div class="widget  widget_text">
                        <h6 class="footer-top__headings">Um pouco sobre a SS Entregas</h6>
                        <div class="textwidget">
                            <p>A SS Entregas nasceu em 0000 quando dois amigos resolveram se juntar e oferecer um
                                serviço diferenciado de entregas. Desta data em diante a frota cresceu sem parar, sempre
                                com a necessidade de antender cada vez melhor seus clientes.</p>
                            <p>Para continuar crescendo...</p>
                            <a href="about.php" class="read-more">Saiba + </a></div>
                    </div>
                </div>
                <div class="col-xs-12  col-md-2">
                    <div class="widget  widget_nav_menu">
                        <h6 class="footer-top__headings">Escolha uma opção</h6>
                        <div class="menu-footer-menu-container">
                            <ul id="menu-footer-menu" class="menu">
                                <li class="menu-item"><a href="services.php">Serviços</a></li>
                                <li class="menu-item"><a href="sign_in.php">Clientes</a></li>
                                <li class="menu-item"><a href="blog.php">Blog</a></li>
                                <li class="menu-item"><a href="contato.php">Contato</a></li>
                                <li class="menu-item"><a href="orcamento.php">Faça uma cotação</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12  col-md-4">
                    <div class="widget  widget_text">
                        <h6 class="footer-top__headings">Adicione créditos a sua conta</h6>
                        <div class="textwidget">
                            <p>Aqui você coloca créditos em sua conta corrente utilizando o PagSeguro.</p>
                            <br/>

                            <a href="pagseguro.php">
                                <img src="assets/images/pagar-com-pagseguro.gif" />
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom__left">
                    <img src="assets/images/logo_bw.png" alt="Logo Footer"/>
                </div>
                <div class="footer-bottom__right">
                    <div class="footer-bottom__payment-methods"><span>Metodos de pagamento:</span> &nbsp; &nbsp; &nbsp;
                        <i class="fa  fa-3x  fa-cc-visa"></i> &nbsp; <i class="fa  fa-3x  fa-cc-mastercard"></i> &nbsp;
                        <i class="fa  fa-3x  fa-cc-amex"></i> &nbsp; <i class="fa  fa-3x  fa-cc-paypal"></i></div>
                </div>
            </div>
        </div>
</footer>
</body>
</html>
