<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO -->
    <meta name="author" content="Surjith S M">
    <meta name="description" content="SS Entregas - Entregas no momento certo">
    <meta name="keywords" content="entregas, motoboy, courrier">
	
	<meta name="google-site-verification" content="y0WpzNpR3cVLoNgkV4KqHHgMRR0JDmQEmjukzXdjDJI" />	

    <link rel="shortcut icon" href="assets/images/ssentregas.ico" type="image/x-icon">

    <!-- Page Title -->
    <title>SS Entregas</title>

    <!-- Main CSS -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- RTL : Enable RTL Style 
    <link href="assets/css/rtl.css" rel="stylesheet">
	-->
    
	<!-- Theme CSS -->
    <link href="assets/css/themes/green.css" rel="stylesheet">

    <!-- Modernizr -->
    <script src="assets/js/modernizr.js"></script>
    
    <!-- ========== Javascripts ========= -->

    <!-- Jquery -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

    <!-- Picture Fill -->
    <script type="text/javascript" src="assets/js/picturefill.min.js"></script>

    <!-- Main JS -->
    <script type="text/javascript" src="assets/js/main.js"></script>

    <script src="http://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
            integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
            crossorigin="anonymous"></script>
            
    <link type="text/css" rel="stylesheet" href="assets/plugin_table/demo.css"/>
    <link type="text/css" rel="stylesheet" href="assets/plugin_table/src/table-populator.css"/>
    <script type="text/javascript" src="assets/plugin_table/src/table-populator.js"></script>

    <!-- ManyChat -->
    <script src="//widget.manychat.com/1678736119055047.js" async="async"></script>
	
</head>

<body>

    <!-- 
	============================
      TOP BAR
    ============================
	-->
    
	<div class="top">
        <div class="top__background"></div>
        <div class="container">

        </div>
    </div>

    <!-- ========  // END TOP BAR ======== -->
	

    <!-- ============================
      HEADER
     ============================ -->

    <div class="container">
        <header class="header">
            <div class="logo">
                <a href="./index.php"> <img src="assets/images/logo.png" alt="SS Entregas" srcset="assets/images/logo.png, assets/images/logo_2x.png 2x" class="img-responsive" width="260" height="90"> </a>
            </div>
            <a href="#main-navigation" class="navbar-toggle"> <span class="navbar-toggle__text">MENU</span> <span class="navbar-toggle__icon-bar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </span>
            </a>
            <div class="header-widgets">

                <div class="widget  header-widgets__widget  widget-social-icons">
                    <a class="social-icons__link" href="https://www.facebook.com/ssentregas" target="_blank"><i class="fa  fa-facebook"></i></a>
                    <a class="social-icons__link" href="https://twitter.com/ssentregas" target="_blank"><i class="fa  fa-twitter"></i></a>
                    <a class="social-icons__link" href="https://www.youtube.com/" target="_blank"><i class="fa  fa-youtube"></i></a>
                    <a class="social-icons__link" href="https://www.instagram.com/ssentregas" target="_blank"><i class="fa  fa-instagram"></i></a>
                    <a class="social-icons__link" href="skype:ssentregasbarra?call" target="_blank"><i class="fa  fa-skype"></i></a>
                </div>
				

                <div class="widget  header-widgets__widget  widget_text">
                    <div class="textwidget"><a class="btn  btn-danger  btn-rounded" href="tel:2138607655" target="_self"><i class="fa fa-phone"></i>21 4108-2900/3576-7331</a></div>
                </div>

                <div class="widget  header-widgets__widget  widget_text">
                    <div class="textwidget"><a class="btn  btn-danger  btn-rounded" href="https://api.whatsapp.com/send?l=pt&phone=5521979000667" target="_self"><i class="fa fa-whatsapp"></i> 21 97900-0667</a></div>
                </div>

				<div class="widget  header-widgets__widget  widget_text">
                    <a href="https://api.whatsapp.com/send?l=pt&phone=5521979000667" target="_blank"> <img src="assets/images/link-direto-whats.png" alt="Whatsapp" width="50" height="50"> </a>
                    <!--<a href="https://m.me/ssentregas" target="_blank"> <img src="assets/images/link-direto-fb1.png" alt="Facebook" width="40" height="40"> </a>-->
                </div>

                <div style="margin-top: 10px; margin-right: -18px" class="widget  header-widgets__widget  widget_text">
                    <div class="mcwidget-embed" data-widget-id="2570130"></div>
                </div>

                <!--<div class="widget  header-widgets__widget  widget_text">
                    <a href="https://m.me/ssentregas" target="_blank"> <img src="assets/images/link-direto-fb1.png" alt="Facebook" width="30" height="30"> </a>
                </div>-->
				
            </div>
        </header>
    </div>

    <!-- ========  // END HEADER ======== -->